# 核心框架（建议锁死版本，防止框架升级导致代码崩溃）
fastapi==0.135.3
pydantic==2.12.5
uvicorn==0.43.0
starlette==1.0.0

# 数据库与中间件（建议使用 >=，允许小版本安全更新）
SQLAlchemy==2.0.49
aiomysql>=0.2.0
pymysql>=1.1.0
redis>=7.4.0

# 安全与加密（由于我们写了补丁，建议锁在 4.0 时代）
passlib==1.7.4
bcrypt>=4.0.1
python-jose[cryptography]

# 其他工具
sympy==1.14.0